/* svg-icons
/* --------------------------------------------- */

#svg-icons {
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	z-index: -100;
}

/* svg-icons
/* ---------------------------------------END--- */


/* page
/* --------------------------------------------- */

.page {
	position: relative;
	min-width: $page_w;

	&__header {

	}

	&__body {
		background: #fff;
	}

	&__content {
		@mixin center;
		position: relative;

		&_spaced {
			padding-left: $content_space;
			padding-right: $content_space;
		}
	}

	&__footer {
		color: #fff;
		position: relative;
		padding-top: 30px;
		padding-bottom: 30px;
		//background: #f1acf2

		a {
			color: #fff;
			&:hover {
				color: $link-color_hover;
				}
		}
	}
	
}
	
	
/* page
/* ---------------------------------------END--- */


/*  footer-cols
------------------------------------------------ */

	.footer-cols {
		margin-bottom: 50px;
		display: flex;
		&__i {
			width: calc(100%/6);
			//background: #000;
			padding-right: 50px;
		}
	}
	
/* footer-cols
------------------------------------------END--- */


/*  layout
------------------------------------------------ */

	.layout {
		display: flex;
		height: 100%;
		&__sidebar {
			width: $sidebar_w;
			background: #fff;
			box-sizing: border-box;
			padding-left: $content_space;
			padding-right: $content_space;
			padding-bottom: $bottom_space;
			position: relative;
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				width: $big-number;
				background: #fff;
				}

			&_shadow {
				position: relative;
				&:before {
					background: $color_sidebar;
					box-shadow: inset -5px 5px 10px color(#000 alpha(8%));
					}
			}

			&_main {
				padding-top: 24px;
			}
		}
		&__mainbar {
			padding-left: 40px;
			padding-right: $content_space;
			padding-bottom: $bottom_space;
			box-sizing: border-box;
			//background: green;
			width: 50%;
			flex-grow: 2;

			&_main {
				padding-top: 24px;
			}
		}

		&__sidebar-content {
			position: relative;
			z-index: 1;
		}
	}
	
/* layout
------------------------------------------END--- */


/*  logo
------------------------------------------------ */

	.logo {
		position: absolute;
		left: 0;
		top: 10px;
		color: $text_color !important;
		width: 162px;
		height: 62px;
		display: flex;
		align-items: center;
		&__txt {
			padding-left: 15px;
		}
		&__abbr {
			color: $link-color !important;
			transition: color $animation-time_slow;
		}

		&:hover &__abbr {
			color: $link-color_hover !important;
			}
	}
	
/* logo
------------------------------------------END--- */


/*  header
------------------------------------------------ */

	.header {
		color: #fff;
		background: $main_color;
		

		&__body {
			height: $header_h;
			@mixin center;
		}

		a {
			color: #fff;
			&:hover {
				color: $link-color_hover;
				}
		}
	}
	
/* header
------------------------------------------END--- */


/*  social
------------------------------------------------ */

	.social {
		display: inline-block;
		color: #b4dcf1 !important;
		&:hover {
			color: #fff !important;
			}
		&__icon {
			
			&_fb {
				width: 22px;
				height: 40px;
			}
			&_vk {
				width: 46px;
				height: 25px;
			}
		}
		display: inline-block;
	}
	
/* social
------------------------------------------END--- */


/*  graph-inf
------------------------------------------------ */

	.graph-inf {
		box-shadow: 0 2px 18px color(#000 alpha(25%));
		display: inline-block;
		margin-bottom: 30px;
		opacity: 1;
		transition: opacity $animation-time_slow;

		&:hover {
			opacity: .8;
			transition: opacity $animation-time_slow;
			}

		&__center {
			margin: auto;
		}

		&_space_sm {
			margin-bottom: 17px;
		}

		&_space-bottom_none {
			margin-bottom: 0;
		}

		&__img {
			display: block;
		}
	}
	
/* graph-inf
------------------------------------------END--- */



/*  header-inf
------------------------------------------------ */

	.header-inf {
		height: $header_h;
		//background: red;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		&__i {
			padding-left: 20px;
			text-align: right;
		}
	}
	
/* header-inf
------------------------------------------END--- */


/*  list-nav
------------------------------------------------ */

	.list-nav {
		margin: 0;
		padding: 0;
		list-style-type: none;
		
		&__i {
			margin: 0;
			padding: 0;
			&:first-child {
				font-size: 17px;
				font-weight: bold;
				@extend font-h;
				}
		}

		&__a {
			display: block;
			padding: 5px 0;
		}
	}
	
/* list-nav
------------------------------------------END--- */


/*  teasers
------------------------------------------------ */

	.teasers {
		margin-bottom: 30px;
		&__i {
			display: flex;
			margin-bottom: 20px;
		}

		&__photo {
			width: 140px;

		}

		&__body {
			box-sizing: border-box;
			width: calc(100% - 140px);
			padding-left: 20px;
		}

		&__img {
			display: block;
		}
		
		&__more-a,
		&__h {
			font-size: 18px;
			font-weight: bold;
			@extend font-h;
		}

		&__more {
			text-align: center;
		}

	}
	
/* teasers
------------------------------------------END--- */

/*  footer-inf
------------------------------------------------ */

	.footer-inf {
		display: flex;
		&__i {
			box-sizing: border-box;
			&_name {
				width: 52%;
				padding-right: 100px;
			}
			&_counters {
				width: 16%;
			}
			&_made-by {
				width: 32%;
				text-align: right;
				padding-right: 10%;
			}
		}
	}
	
/* footer-inf
------------------------------------------END--- */


/*  search
------------------------------------------------ */

	.search {
		$search_h: 40px;
		
		position: absolute;
		left: 20px;
		bottom: 100px;
		display: inline-block;
		&__input {
			width: 240px;
			border: 2px solid #fff;
			height: $search_h;
			box-sizing: border-box;
			background: none;
			@extend font-r;
			padding: 0 46px 0 10px;
			outline: none;
			font-size: 14px;
			color: #fff;
		}
		&__button {
			position: absolute;
			top: 0;
			right: 0;
			width: $search_h;
			height: $search_h;
			background: none;
			border: none;
			overflow: hidden;
			text-indent: -999px;
			margin: 0;
			padding: 0;
			z-index: 1;
		}
		&__icon {
			width: 18px;
			height: 18px;
			position: absolute;
			top: 11px;
			right: 10px;
			width: 18px;
			height: 18px;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 9px;
			right: 36px;
			bottom: 9px;
			width: 2px;
			background: #4e87a6;
			}
	}
	
/* search
------------------------------------------END--- */


/*  main-nav
------------------------------------------------ */

	.main-nav {
		position: relative;
		background: $color_sidebar;
		$main-link-space: 14px;

		margin: -$main-link-space 0 15px 0;
		padding: 0;
		list-style-type: none;
		@extend font-h;
		
		&__i {
			margin: 0;
			padding: 0;
		}

		&__h {
			position: relative;
			display: inline-block;
			padding-right: 36px;
		}

		&__i_parent &__sub {
			margin-top: -10px;
		}

		&__a {
			display: inline-block;
			padding: $main-link-space 0;
			color: $text_color;
			font-weight: bold;
			font-size: 16px;

			&.is-active,
			&:hover {
				color: $link-color;
				}

		}

		&__sub {
			position: relative;
			z-index: 1;
			display: none;
			margin: 0 0 10px 10px;
			padding: 0;
			list-style-type: none;
			transition: opacity 0.3s;
			opacity: 0;

			.is-open > & {
				opacity: 1;
			}

		}

		&__sub-i {
			margin: 0;
			padding: 0;
			
		}

		&__sub-a {
			display: inline-block;
			padding: 5px 0;
			font-size: 14px;
			color: $text_color_light;

			&.is-active,
			&:hover {
				color: $link-color;
				}
		}


		&__ctrl {
			position: absolute;
			top: 0;
			right: 0;
			width: 32px;
			height: 53px;
			display: inline-block;
			//background: #000;
			cursor: pointer;
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -4px;
				left: 10px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5px 5px 0 5px;
				border-color: $main_color transparent transparent transparent;
				transition: transform $animation-time;

				.is-open & {
					transform: rotate(180deg);
				}
				}
		}
	}
	
/* main-nav
------------------------------------------END--- */


/*  separator
------------------------------------------------ */

	.separator {
		height: 1px;
		background: #e0e0e0;
		margin-bottom: 30px;
	}
	
/* separator
------------------------------------------END--- */


/*  scrolled
------------------------------------------------ */

	.scrolled { 
		height: auto;
		width: auto;
		max-width: 100%;
		vertical-align: bottom;
		margin-bottom: 45px;

		&__lst {
			overflow-y: hidden;
			margin: 0;
			padding: 0;
			list-style-type: none;
		}

		&__i {
			margin: 0 10px;
			float: left;

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}

		&__a {
			display: block;
		}
		
		&__img {
			display: block;
		}

	}

/* scrolled
------------------------------------------END--- */






/*  partners
------------------------------------------------ */

	.partners {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		&__i {
			width: calc(100%/5);
			margin-bottom: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__i:hover &__img {
			filter: grayscale(0);
		}

		&__img {
			transition: filter 1s;
			display: block;
			filter: grayscale(100%);
		}


	}
	
/* partners
------------------------------------------END--- */


/*  calendar
------------------------------------------------ */

	.calendar {
		$day_dim: 28px;
		margin-bottom: 40px;

		&__day-names {
			display: flex;
			flex-wrap: wrap;
			font-weight: bold;
		}

		&__day-name {
			display: block;
			width: $day_dim;
			height: $day_dim;
			line-height: $day_dim;
			text-align: center;
			text-transform: uppercase;
			font-size: 14px;
		}
		
		&__days {
			display: flex;
			flex-wrap: wrap;
		}
		&__day {
			display: block;
			width: $day_dim;
			height: $day_dim;
			line-height: $day_dim;
			text-align: center;

			&_prev,
			&_next {
				color: #b6b6b6;
			}

			&_has-event {
				background: $link-color_hover;
				color: #fff !important;
				transition: background $animation-time_slow;

				&:hover {
					background: $main_color_light;
					transition: background $animation-time_slow;
					}
			}

			&_current {
				color: $main_color;
				font-weight: bold;
			}
		}
	}
	
/* calendar
------------------------------------------END--- */


/*  select
--------------------------------------------------- */
	
	.calendar .select {
		width: auto;

	}
	.select {
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		width: 380px;
		@extend font-r;


		&__container {
			position: relative;
			display: inline-block;
			margin-right: 3px;
			}

		&__item {
			color: #000;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			display: inline-block;
			width: 100%;
			}

		&__item &__bg {

			.calendar & {
				border: none;
				text-transform: uppercase;
				color: $main_color;
				font-weight: bold;
				background: none;
				padding: 0 15px 0 0;
				background: $color_sidebar;
				height: 30px;
			}
			display: block;
			padding: 0 25px 0 10px;
			line-height: 40px;
			height: 40px;
			border: 1px solid $text_color_light2;
			background: #fff;
			font-size: 14px;

			span {
				display: block;
				overflow: hidden;
				height: 40px;
				text-overflow: ellipsis;
				white-space: nowrap;

				.calendar & {
					heihgt: 30px;
					}
				}
			
			}

		&__arrow {
			position: absolute;
			right: 10px;
			top: 50%;
			margin-top: -2px;
			width: 9px;
			height: 5px;
			.calendar & {
					margin-top: 0px;
					}
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5px 5px 0 5px;
				border-color: $main_color transparent transparent transparent;
				}
			}
	}
	
	select.replaced {
		position: relative;
		z-index: 1000;
		height: 40px;
		border: 0;
		opacity: 0;
		font-size: 14px;
		@extend font-r;
		}

	.calendar select.replaced {
		height: 30px;
	}

/*  select
---------------------------------------------end--- */



/*  media
------------------------------------------------ */

	.media {
		margin-bottom: 30px;
		&__body {
			display: inline-block;
			//background: #ccc;
			width: 941px;
			@media screen and (width <= 1256px) {
				width: 700px;
				//background: yellow;
			}
		}
		
		&__header {
			margin: 0;
			padding: 0;
			list-style-type: none;
			display: block;
			text-align: center;
		}

		&__tab {
			margin: 0;
			padding: 0;
			display: inline-block;
			margin-bottom: 20px;
			
		}

		&__tab-a {
			display: block;
			text-transform: uppercase;
			@extend font-h;
			padding: 10px 15px;
			color: $text_color_light;

			.is-active > & {
				color: $link-color;
			}

		}

		&__list {
			margin: 0 0 0 -20px;
			padding: 0;
			list-style-type: none;
			display: flex;
			flex-wrap: wrap;
		}

		&__i {
			margin-left: 20px;
			width: 220px;
			margin-bottom: 15px;
		}

		&__label {
			color: $text_color_light;
			transition: color $animation-time_slow;
			text-align: center;
			font-size: 13px;
		}

		&__a:hover &__label {
			color: $link-color_hover;
		}

		&__a {
			position: relative;
			display: inline-block;
		}

		&__a:hover &__video {
			&:before {
				opacity: 1;
				}
		}

		&__video {
			position: relative;
			display: inline-block;
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: calc(-34px / 2);
				margin-left: calc(-50px / 2);
				width: 50px;
				height: 34px;
				background: #000;
				opacity: .6;
				border-radius: 8px;
				transition: opacity $animation-time_slow;
				}
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 7px 0 7px 14px;
				border-color: transparent transparent transparent #fff;

			}
		}
		

		&__page-nav {
			margin-top: 10px;
		}

	}
	
/* media
------------------------------------------END--- */



/*  page-nav
------------------------------------------------ */

	.page-nav {
		font-size: 16px;
		@extend font-h;

		&__lst {
			margin: 0;
			padding: 0;
			list-style-type: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		&__i {
			margin: 0;
			padding: 0;
			
		}

		&__a {
			display: block;
			width: 36px;
			height: 36px;
			text-align: center;
			line-height: 36px;
			position: relative;

			.is-active > & {
				background: $main_color;
				color: #fff;
			}
		}

		&__icon {
			width: 10px;
			height: 20px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -10px;
			margin-left: -5px;
		}

		&__i_next &__icon {
			transform: rotate(-180deg);
		}
	}
	
/* page-nav
------------------------------------------END--- */


/*  folding
------------------------------------------------ */

	.folding {
		margin-bottom: 20px;

		&__h {
			font-size: 16px;
			font-weight: bold;
			@extend font-r;
			cursor: pointer;
			display: inline-block;

			&:after {
				content: '';
				display: inline-block;
				position: relative;
				width: 0;
				height: 0;
				top: -3px;
				border-style: solid;
				border-width: 5px 5px 0 5px;
				border-color: $text_color_light2 transparent transparent transparent;
				transition: transform $animation-time;
				margin-left: 10px;

				.is-open & {
					transform: rotate(180deg);
				}
			}
		}

		&__date {
			display: inline-block;
			padding-left: 6px;
			font-weight: normal;
			color: $text_color_light2;
			font-size: 14px;
		}
		
		&__body {
			padding-top: 10px;
			opacity: 0;
			transition: opacity 0.3s;
			display: none;

			.is-open > & {
				opacity: 1;
			}
		}
	}
	
/* folding
------------------------------------------END--- */


/*  download-link
------------------------------------------------ */

	.download-link {
		display: inline-block;
		font-weight: bold;

		&__icon {
			width: 25px;
			height: 30px;
			display: inline-block;
			vertical-align: middle;
		}
		
	}
	
/* download-link
------------------------------------------END--- */


/*  attention
------------------------------------------------ */

	.attention {
		font-style: italic;
	}
	
/* attention
------------------------------------------END--- */

/*  sub-h
------------------------------------------------ */

	.sub-h {
		@extend font-h;
		font-style: italic;
		color: $text_color_light;
		margin-top: -20px;
		font-size: 16px;
		margin-bottom: 24px;
	}
	
/* sub-h
------------------------------------------END--- */


/*  headship
------------------------------------------------ */

	.headship {
		@extend font-h;
		margin-bottom: 34px;

		&__h {
			
		}

		&__body {
			padding-left: 60px;
		}

		&__i {
			margin-bottom: 16px;
		}

		&__post {
			font-style: italic;
			color: $text_color_light2;
		}

		&__person {
			display: flex;
			align-items: flex-end;
			
		}

		&__name {
			width: 1px;
			flex-grow: 1;
			font-size: 16px;
			overflow: hidden;
		}

		&__dotted {
			display: inline-block;
			position: relative;
			&:after {
				content: '';
				display: block;
				position: absolute;
				width: $page_w_max;
				bottom: 1px;
				right: 0;
				left: 100%;
				margin-left: 16px;
				height: 1px;
				background: url("../../img/dotted.gif") 0 0 repeat-x;
			}
		}

		&__phone {
			margin-top: -10px;
			width: 100px;
			white-space: nowrap;
			font-size: 22px;
			padding-left: 7px;
			color: $main_color;
		}
	}
	
/* headship
------------------------------------------END--- */


/*  back
------------------------------------------------ */

	.back {
		font-weight: bold;
		font-size: 16px;
		@extend font-h;
	}
	
/* back
------------------------------------------END--- */


/*  persons
------------------------------------------------ */

	.persons {
		display: flex;
		flex-wrap: wrap;
		margin-left: -20px;
		margin-bottom: 6px;

		&__i {
			width: 220px;
			margin-left: 20px;
			margin-bottom: 24px;
		}

		&__a {
			display: block;
			position: relative;
			margin-bottom: 5px;
		}

		&__img {
			display: block;
		}

		&__desc {
			padding: 20px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			color: #fff;
			font-style: italic;
			display: flex;
			align-items: center;
			opacity: 0;
			transition: opacity $animation-time_slow;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: $color_footer;
				opacity: .9;
				}
		}

		&__a:hover &__desc {
			opacity: 1;

			&:before {
				
				}
		}

		&__desc-txt {
			position: relative;
			z-index: 1;
			text-align: center;
		}

		&__name {
			font-size: 16px;
			text-align: center;
		}

		&__post {
			color: $text_color_light2;
			text-align: center;
			font-style: italic;
		}


	}
	
/* persons
------------------------------------------END--- */


/*  img-content
------------------------------------------------ */

	.img-content {
		display: block;
		margin-bottom: 24px;
	}
	
/* img-content
------------------------------------------END--- */


/* button
/* --------------------------------------------- */

.button {
	@extend font-r;
	user-select: none;
	position: relative;
	display: inline-block;
	overflow: visible;
	border: none;
	color: $main_color !important;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	vertical-align: middle;
	outline: none;
	font-size: 16px;
	font-weight: bold;
	padding: 8px 25px;
	background-color: #ebedee;
	border: none;
	box-sizing: border-box;
	transition: background $animation-time, color $animation-time;
	transition-timing-function: ease-out;
	
	&:hover {
		background: #f5f6f6;
		transition: background $animation-time, color $animation-time;
		color: $link-color_hover!important;
	}

	&:active {
		box-shadow: inset 0px 3px 7px color(#000 alpha(20%));
	}
	
	&_fluid {
		width: 100%;
	}
	&_disabled {
		color: $text_color_light !important;

		&:hover {
			background-color: #ebedee !important;
			color: $text_color_light !important;
		}

		&:active {
			box-shadow: none;
		}
	}
}

/* button
/* ---------------------------------------END--- */


/* form-line
/* --------------------------------------------- */

.form-line {
	margin-bottom: 20px;

	&__label {
		display: block;
		margin-bottom: 3px;
		font-style: italic;
	}

}

/* form-line
/* ---------------------------------------END--- */


/*  required
------------------------------------------------ */

	.required {
		color: $color_imp;
	}
	
/* required
------------------------------------------END--- */


/* input
/* --------------------------------------------- */

textarea.input {
	height: 80px;
	padding: 10px;
}

.input {
	width: 400px;
	height: 40px;
	background: #fff;
	padding: 0 10px;
	box-sizing: border-box;
	transition: box-shadow $animation-time,  border-color $animation-time;
	border: 1px solid $text_color_light2;

	&_w_fluid {
		width: 100%;
	}

	&_error{
		border-color: $color_imp;
	}

	&:focus {
		outline: 0 !important;
		border-color: $color_main;
		box-shadow: 0 0 4px $color_focus;
		border-color: $color_main;
	}
}

/* input
/* ---------------------------------------END--- */



/* table
/* --------------------------------------------- */

.table {
	width: 100%;

	
	&__h td,
	th {
		text-transform: uppercase;
		text-align: center;
		font-weight: normal;

	}

	& th,
	& td {
		vertical-align: middle;
		padding: 10px;
		border: 1px solid #dfdfdf;


	}

	tr:nth-child(odd) {
		   background-color: #f5f6f6;
		}
}

/* table
/* ---------------------------------------END--- */


/*  txt-to-center
------------------------------------------------ */

	.txt-to-center {
		text-align: center;
	}
	
/* txt-to-center
------------------------------------------END--- */


/*  carousel
------------------------------------------------ */

	.carousel {
		margin-bottom: 70px;

		&__i {
			width: 160px;
			margin: 0 10px;
		}

		&__img {
			
		}
	}
	
/* carousel
------------------------------------------END--- */


